* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1000px;
}

.row::after {
  content: ="";
  display: table;
  clear: both;
}

.bg-pink {
  background: pink;
  height: 150px;
}

[class^="col-"] {
  float: left;
  padding: 1% 5%;
}

.col-100{
  width: 100%;
}
